<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%- include('footer.ejs', {bot, user, path}) %>
<div class="container">

	<div class="row justify-content-md-center">
	<div align="center"><h2 style="color: #fff;"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i> Filtreler</h2></div>
  </div>
	
  <!--<center><h7 style="color:red">Bakımda...</h7></center>-->
  
	<div class="row">
    
<div class="col">
    <div class="container">
      <form method="post">
        <ul class="list-group list-group-flush">
          
              <div class="row">
            <div class="col-25">
              <label for="link">Link Engelleme Sistemi</label>
            </div>
            <div class="col-75">
              <select id="link" name="link"> 
           <%if(bot.ayar.has(`linkE_${guild.id}`) === false) {%>
                 <option value="acik">Açık</option>
                 <option value="kapali" selected>Kapalı</option>
           <%} else {%>
               <option value="acik" selected>Açık</option>
                 <option value="kapali">Kapalı</option>
             <%}%>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-25">
              <label for="kufur">Küfür Engelleme Sistemi</label>
            </div>
            <div class="col-75">
              <select id="kufur" name="kufur"> 
           <%if(bot.ayar.has(`küfürE_${guild.id}`) === false) {%>
                 <option value="acik">Açık</option>
                 <option value="kapali" selected>Kapalı</option>
           <%} else {%>
               <option value="acik" selected>Açık</option>
                 <option value="kapali">Kapalı</option>
             <%}%>
              </select>
            </div>
          </div>
          
          <div class="row">
            <div class="col-25">
              <label for="kelimefiltre">Kelime Filtresi Sistemi</label>
            </div>
            <div class="col-75">
              <input type="text" id="kelimefiltre" name="kelimefiltre" placeholder="Filtreye eklenecek kelimeyi yazınız.">
            </div>
            <button style="background-color:orange; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kelimeyi Ekle</button>    
          </div>
          <br>
          <%if(bot.ayar.has(`kFiltre_${guild.id}`) === true) {%>
        <table class="table table-hover" style="background-color:#222">
            <thead>
                <tr>
                  <th scope="col">Kelime</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                    <%for(var i = 0; i < bot.ayar.fetch(`kFiltre_${guild.id}`).length; i++) {%>
              <tr>
                  <th scope="row"><%=bot.ayar.fetch(`kFiltre_${guild.id}`)[i]%></th>
                 </tr>
                  <%}%>
            <%} else {%>
                  <h5 align="center" style="color:#fff">
                    Kelime filtresine hiç kelime eklenmemiş.
              </h5>
              <%}%>
            </tbody>
        </table>
          
          </ul>
          <div style="width: 100%; text-align: right; margin-top: 15px;">
      <button style="background-color:blue; color:#fff" type="sumbit" id="formbtn" class="btn btn-default"><i class="fa fa-fw fa-save" aria-hidden="true"></i> Kaydet</button>
          </div>
      </form>
    </div>
  </div>
    
</div>


<script>
	var ts = parseInt($('#guildCreate').text());
	$('#guildCreate').html(`<strong>Created:</strong>: ${moment(ts).format('MMMM Do YYYY (h:mm a)')}`);  
</script>

